@model IEnumerable<Codecool.HackerNewsClient.Models.Jobs>
@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Jobs</h1>

<div class="jumbotron">
    <div class="col-md-4">
        <table>
            <thead>
            <tr>
                <th class="news-title">Title</th>
                <th>Published</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="news-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time_Ago)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>


